{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<f:if condition="{image}">
    <f:then>
        <div class="swiper-slide">
            <div class="head">
                <div class="head-inner">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{title}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content-inner">
                    <div class="row">
                        <div class="col-xs-12">
                            <ts:render path="contentCollection" />
                        </div>
                    </div>
                </div>
            </div>
            <img src="{media:uri.image(image: image)}" title="{title}" alt="{title}" class="img-responsive" />
        </div>
    </f:then>
    <f:else>
        <f:if condition="{neos:rendering.inEditMode()}">
            <div class="swiper-slide">
                <div class="head">
                    <div class="head-inner">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>{title}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-inner">
                        <div class="row">
                            <div class="col-xs-12">
                                <ts:render path="contentCollection" />
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="img-responsive" />
            </div>
        </f:if>
    </f:else>
</f:if>